@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-grey: #707070;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
  --clr-green: #4fb646;
}

body {
  margin: 0;
  font-family: "Open Sans";
  background-color: lavender;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: flex;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: end;
  gap: 3vw;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 20;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 
  @media screen and (max-width:600px) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__brand img {
  max-width: 125px;
  height: auto;
  @media screen and (max-width:600px) {
    width: 70px;
  }
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: 2.5em;
  font-weight: 800;
  @media screen and (max-width:600px) {
    font-size: 1.5rem;
  }
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav__links li {
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-black);
}

.nav__links li a:hover {
  color: var(--clr-blue);
}

.nav__connect {
  width: 175px;
  height: 50px;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  position: relative;
}

.header__title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--clr-white);
  font-size: 2.5em;
  
  text-shadow: 5px 5px 8px blue;
  

  width: 100%;
  text-align: center;
}

.header__search {
  padding: 20px;
  min-width: 40%;
  border-radius: 10px;
  border: none;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__search::placeholder {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.header__search:hover {
  outline: 1px solid var(--clr-blue);
}
.search_card {
  margin-top: -13%;
  z-index: 40;
  padding-left: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media  screen and (max-width:1400px) {
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 0px;
  }
}
.description{
  padding: 3vw;
  background-color: white;
  @media  screen and (max-width:1400px) {
    max-width: 1400px;
  }
}
/* ------------------------------------------------------ */
/* -- CARDS -- */

.estate_description{
  color: gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards__section {
  max-width: 1300px;
  margin: 100px auto;
  padding: 0 20px;
}

.cards__section h3 {
  margin: 50px 0 20px;
  text-align: center;
  color: white;
  font-size: 4vh;
  text-shadow: 5px 5px 8px blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  width: 350px;
  height: 275px;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--clr-grey);
  background-color: rgba(0, 0, 0, 0.242);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;

}
.card__image img {
  max-width: 100%;
}

.card__info {
  width: 100%;
  height: 45%;

  background-color: var(--clr-white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -10px 20px 5px;  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}
.card__info:hover{
  background-color: skyblue;
}
.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.90em;
  margin-top: 5px;
}
.button_home{
  display: flex;
  justify-content: end;
  align-items: center;
}
.homes_button{
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 8px 8px 10px blue;
  width: 27.77%;
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  color: white;
  margin-top: 20px;
  background-color: rgba(110, 137, 236, 0.807);
  border:none;
  transition: box-shadow 0.3s ease, width 0.3s ease;
  @media screen and (max-width:1100px) {
    width: 100%;
  }
}
.homes_button:hover{
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  cursor: pointer;
  color: blue;
}
/* ------------------------------------------------------ */
/* -- HOMES -- */

.home {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.home__details {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  align-items: center;
  border-radius: 10px;


  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background: lavender;
}

.home__image {
  max-width: 500px;
  margin: 20px auto;
}

.home__image img {
  max-width: 100%;
  border-radius: 10px;
}

.home__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.home__close img {
  width: 25px;
  height: 25px;
}

.home__overview {
  height: 100%;
  margin: 0 20px;
  padding-right: 40px;

  overflow-y: scroll;
}

.home__overview h1,
.home__overview h2,
.home__overview hr {
  margin: 10px auto;
}

.home__overview ul {
  margin-left: 40px;
}

.home__buy,
.home__contact,
.home__owned {
  margin: 20px 5px;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.home__buy {
  width: 225px;
  height: 50px;
}

.home__buy:hover {
  background-color: var(--clr-blue-2);
}

.home__contact {
  width: 150px;
  height: 50px;

  background-color: transparent;
  color: var(--clr-blue);

  border: 1px solid var(--clr-blue);
}

.home__contact:hover {
  background-color: #f7f7f7;
  color: var(--clr-blue-2);
}

.home__owned {
  height: 50px;
  background-color: var(--clr-green);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }
}

/* about home */
.about_home_head{
  display: flex;
  justify-content: center;
  color: white;
  margin: 150px 0 20px;
  text-align: center;
  font-size: 5vh;
  text-shadow: 5px 5px 8px blue;
}
.about_description_home{
  display: flex;
  justify-content: center;
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
  color: gray;
  line-height: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  @media screen and (max-width:500px) {
    padding-left: 30px;
    line-height: 17px;
    padding-right: 30px;
  }
}
.about_section_home{
  display: flex;
  justify-content: center;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 20px;
  width: 90%;
  max-width: 1400px;
  color: rgb(76, 97, 164);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card_about {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background-color: rgba(164, 183, 229, 0.374);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, height 0.5s ease;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

/* Different pillar heights */
.card1 {
  height: 400px;
  bottom: 110px;
  line-height: 35px;
  @media screen and (max-width:500px) {
    height: 250px;
    bottom: -20px;
    line-height: 20px;
  }
}

.card2 {
  height: 150px;
  bottom: 110px;
  line-height: 40px;
  @media screen and (max-width:500px) {
    bottom: -20px;
    height: 100px;
    line-height: 20px;
  }
}

.card3 {
  height: 400px;
  bottom: 110px;
  line-height: 35px;
  @media screen and (max-width:500px) {
    bottom: -60px;
    height: 300px;
    line-height: 20px;
  }
}

/* Card hover animations */
.card1:hover {
  transform: translateX(20px);
}

.card2:hover {
  transform: translateX(-20px);
}

.card3:hover {
  transform: translateY(-20px);
}

/* Responsive design */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card_about {
    max-width: 90%;
    margin-bottom: 20px;
  }
}
.about_button{
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 8px 8px 10px blue;
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  color: white;
  margin-top: 20px;
  background-color: rgba(110, 137, 236, 0.807);
  border:none;
  transition: box-shadow 0.3s ease, width 0.3s ease;
}
.about_button:hover{
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  cursor: pointer;
  color: blue;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  font-size: 3vw;
  color: white;
  letter-spacing: 5px;
  font-family: "Rubik", sans-serif;
  z-index: 70;
  position: relative;
  @media screen and (max-width:500px) {
    letter-spacing: 1px;
    
  }
}

/* City Image */

.climbing{
  margin-top: 8vw;
  color: white;
  @media screen and (max-width:500px) {
    margin-top: 25vw;
    
  }

}
.climbing img{
  width: 100%;
  position: absolute;
}
.climb_view{
  display: flex;
  justify-content: center;
}
.view_des{
  z-index: 20;
  margin-top: 4vw;
}
.climbing h1{
  font-size: 3vw;
  font-family: "Rubik", sans-serif;
}
.climbing h2{
  font-size: 5vw;
  font-family: "Rubik", sans-serif;
}
